---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import type { Meta } from "../ts/types";

const meta: Meta = {
	title: "Datenschutz",
	description: "",
};
---

<DefaultLayout {...meta}>
	<section class="container">
		<div class="prose dark:prose-invert">
			<h1>Datenschutz</h1>
		</div>
	</section>
</DefaultLayout>
