---

---

<html lang="de" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="font-bold">Astro</h1>
	</body>
</html>
