---
interface Props {
	style: "primary" | "secondary";
	href: string;
}
const { style, href } = Astro.props;
---

{
	style === "primary" ? (
		<a
			{href}
			class="inline-block rounded-lg bg-purple-700 px-6 py-3 text-slate-100 hover:bg-purple-800 dark:bg-purple-800 dark:hover:bg-purple-700"
		>
			<slot />
		</a>
	) : (
		<a
			{href}
			class="inline-block rounded-lg bg-slate-800/20 px-6 py-3 text-slate-100 hover:bg-slate-800/30 dark:bg-slate-200/10 dark:hover:bg-slate-200/20"
		>
			<slot />
		</a>
	)
}
