---
import LogoSvg from "../assets/icons/logo.svg.astro";
import { DarkModeToggle } from "../components/DarkModeToggle";
import { MainNavigation } from "../components/MainNavigation";
import { SocialNavigation } from "../components/SocialNavigation";
---

<header
	class="sticky top-0 z-50 border-b border-slate-900/10 backdrop-blur supports-[backdrop-filter]:bg-slate-100/60 dark:border-slate-50/10 dark:supports-[backdrop-filter]:bg-slate-950/60"
>
	<nav class="container flex items-center justify-between py-2.5">
		<a class="h-9" href="/">
			<LogoSvg />
			<span class="sr-only">Pascal</span>
		</a>

		<!-- @TODO add divide classes and fix whitespace -->
		<div class="flex items-center">
			<MainNavigation />

			<div
				class="flex items-center md:ml-2 md:border-l md:border-slate-400 md:pl-2 md:dark:border-slate-600"
			>
				<SocialNavigation />
				<DarkModeToggle client:load />
			</div>
		</div>
	</nav>
</header>
