---
import "@fontsource-variable/montserrat";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="de" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=5"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
